*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    height: auto;
    background-color:rgb(60, 60, 60);
}

header h2{
    color: azure;
    font-style: normal;
    padding-left:30px;
}

hr{
    border-style:groove;
    margin-left: 30px;
    margin-top: 10px;
    border-color: bisque;
}

[class*="items"] a{
    color: azure;
}
#nav-title{
    font-size: 15px;
}

ul{
    display: flex;
}
.nav-div{
    width: fit-content;
    margin-right: 50px;
}

ul li{
    list-style-type: none;
    padding: 20px 50px; 
    font-size: 17px;
}

.nav-items a{
    text-decoration: none;
}

.nav a:hover{
    color: rgb(207, 207, 207);
    cursor: pointer;
}

section.Main{
    display: flex;
    height: auto;
    position: relative;
}

.upper-left{
    background-color:  rgb(89, 89, 89);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 70%;
    width: 300px;
    box-shadow: 20px -20px rgb(55, 55, 55);
}

.upper-right h2{
    margin-bottom: 30px;
}

.upper-right{
    background-color: rgb(89, 89, 89);
    font-family: sans-serif;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    padding: 20px;
    z-index: 1;
    height: 70%;
    width: 450px;
    box-shadow: 20px -20px rgb(55, 55, 55);
}

.upper-left img{
    position: relative;
    width: 70%;
    height: auto;
    border-radius: 50%;
}


div.col-1{
width: 45%;
height: 600px;
position: relative;
background-color: rgb(255, 216, 177);
display: flex;
justify-content: flex-end;
align-items: center;
}

div.col-2{
width: 55%;
height: 600px;
position: relative;
background-color:rgb(120, 119, 119);
display: flex;
justify-content: flex-start;
align-items: center;
}

.Skills{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: rgb(77, 76, 76);
    color: azure;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.skill-title{
    margin: 40px;
}

.skill-bar{
    height: 14px;
    width: 60%;
    background-color: bisque;
    border-style: none;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}
div.percentage{
    background-color: rgb(188, 113, 113);
    height:14px;
    width: 100%;
    border-style: none;
    border-radius: 4px;
    animation: fillbars 2.5s;
    position: relative;
} 

div.percentage::before{
    content: attr(per);
    position: absolute;
    right: 0;
}

@keyframes fillbars{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@media screen and (max-width:950px) {

    header{
        display: block;
    }
    #nav-title{
        width: 100%;
        text-align: center;
        padding-top: 20px;
        padding-right: 30px;
    }

    hr{
        margin: 20px 30px;
    }

    .nav-div{
        width: 100%;
    }

    ul.nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    li a{
        font-size: 20px;
    }

    section.Main{
        display: block;
    }
    div.col-1{
        width: 100%;
        height: 300px;
        justify-content: center;
        align-items: flex-end;
    
    }
    div.col-2{
        width: 100%;
        height: 350px;
        justify-content: center;
        align-items: flex-start;
    }

    .upper-left img{
        position: relative;
        width: 180px;
        height: 180px;
    }

    .upper-left{
        width: 70%;
        max-width: 420px;
        z-index: 2;
    }

    .upper-right{
        width: 70%;
        justify-content: flex-start;
        padding: 40px;
        max-width: 420px;
        z-index: 1;
    }

}
